#outer-container {
display:grid;
height: 95vh;
border-color: white;
grid-template-rows: 1fr 2fr 7fr;
grid-template-columns: 1fr;
grid-template-areas:
"header"
"register"
"play_area";
}
.header{
    grid-area: header;
    background-color: violet;
    }
h1{
    text-transform:uppercase;
    color:white;
    text-align: center;
    font-size: 45px;
    font-weight:1000;

} 
.register{
grid-area: register;
background-color: seagreen;
}
#play_area {
    grid-area: play_area;
  }
#game_grid {
    display:grid;
    background-color: cornflowerblue;
    grid-template-rows: repeat(15, 50px);
    grid-template-columns: repeat(7, 70px); 
    grid-gap: 10px;
    grid-template-areas: 
    "cell cell cell cell cell cell cell cell cell cell cell cell cell cell cell"
    "cell cell cell cell cell cell cell cell cell cell cell cell cell cell cell" 
    "cell cell cell cell cell cell cell cell cell cell cell cell cell cell cell"
    "cell cell cell cell cell cell cell cell cell cell cell cell cell cell cell"
    "cell cell cell cell cell cell cell cell cell cell cell cell cell cell cell"
    "cell cell cell cell cell cell cell cell cell cell cell cell cell cell cell"
    "cell cell cell cell cell cell cell cell cell cell . . . . .";
}
.cell{
    grid-area: cell;
}
/* @media (min-width: 576px){
    #outer-container {
            display:grid;
            grid-template-rows: 1fr 2fr 70%;
            grid-template-columns: 1fr;
            grid-template-areas:
            "header"
            "register"
            "main"
            }
    }
 */