#outer-container {
display:grid;
grid-template-rows: 1fr  2fr 80%;
grid-template-columns: 1fr;
grid-template-areas:
"header"
"register"
"main";
}
.header{
    grid-area: header;
    background-color: violet;
    }
h1{
    text-transform:uppercase;
    color:white;
    text-align: center;
    font-size: 45px;
    font-weight:1000;

} 
.register{
grid-area: register;
background-color: seagreen;
}
#main{
    grid-area: main;
  }
#game_grid {
    display:grid;
    background-color: cornflowerblue;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: repeat(10, 70px); 
    grid-gap: 10px;
    align-content: center;
    justify-items: center;
    grid-template-areas: 
    "cell cell cell cell cell cell cell cell cell cell cell cell cell cell cell"
    "cell cell cell cell cell cell cell cell cell cell cell cell cell cell cell" 
    "cell cell cell cell cell cell cell cell cell cell cell cell cell cell cell"
    "cell cell cell cell cell cell cell cell cell cell cell cell cell cell cell"
    "cell cell cell cell cell cell cell cell cell cell cell cell cell cell cell"
    "cell cell cell cell cell cell cell cell cell cell cell cell cell cell cell"
    "cell cell cell cell cell cell cell cell cell cell . . . . .";
}
/*.cell{
    grid-area:cell;
    background-color:yellowgreen;
    border : 1px solid red;
    border-radius:8px;
    border-style:solid;
    border-width:1px;
    text-align:center;
}  */
/* @media (min-width: 576px){
    #outer-container {
            display:grid;
            grid-template-rows: 1fr 2fr 70%;
            grid-template-columns: 1fr;
            grid-template-areas:
            "header"
            "register"
            "main"
            }
    }
 */